@import '../index/variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@include scroll;

* {
    @include ResetHtml;
}

body {
    background: #0C0C0C;

    main {
        display: flex;
        flex-direction: row;

        .menu {
            background: #14141C;
            width: 380px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: flex-start;


            .container-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 319px;
                height: 684px;


                .login-usuario {
                    display: flex;
                    flex-direction: row;
                    height: 55.62px;
                    column-gap: 10px;
                    margin: 40px 0px 54px 0px;

                    img {
                        width: 55.17px;
                        height: 55.62px;
                        border-radius: 11.2155px;
                    }

                    .nometag-usuario {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        h4 {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 19.0283px;
                            line-height: 23px;
                            color: #FFFFFF;
                        }

                        p {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 11.0342px;
                            line-height: 13px;
                            color: #CFCFCF;

                        }
                    }
                }

                .container-servidores {
                    display: flex;
                    flex-direction: column;
                    column-gap: 10px;
                    background: #14141C;
                    width: 319px;
                    height: 875px;

                    h5 {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #FFFFFF;
                        margin-bottom: 23px;
                    }

                    .scroll-servidor {
                        overflow-y: scroll;
                        height: 650px;


                        .servidor {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            padding: 8px;
                            display: flex;
                            flex-direction: row;
                            background: none;
                            border-radius: 11.2155px;
                            align-items: center;
                            column-gap: 11px;
                            text-decoration: none;



                            img {
                                width: 55.17px;
                                height: 55.62px;
                                border-radius: 10px;
                            }

                            h6 {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                color: #FFFFFF;

                            }

                            p {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 15px;
                                color: #CFCFCF;

                            }

                            .flex-2 {
                                display: flex;
                                flex-direction: column;
                                column-gap: 10px;
                            }
                        }

                        .servidor:hover {
                            background: #1F1F2C;
                            transition-duration: 0.5s
                        }
                    }
                }
            }

            form {
                button {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    background: none;
                    border: none;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18.66px;
                    line-height: 23px;
                    color: #A20000;
                    column-gap: 6px;
                    align-items: center;
                }
            }
        }

        // fim do menu

        .dashboard {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            height: 100vh;

            .navegar {
                width: 77vw;
                height: 96px;
                background: #14141C;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                .links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;


                    a {
                        text-decoration: none;
                        width: 167px;
                        height: 71px;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18.66px;
                        line-height: 23px;
                        color: #FFFFFF;
                        


                    }

                    :hover {
                        background: #1F1F2C;
                        transition-duration: 0.5s
                    }
                }
            }

            .navegacao {
                width: 77vw;
                height: 83.5vh;
                background: #14141C;
                margin-top: 20px;
                border-radius: 15px;
            }

        }

    }
}