@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px #222753;
  background-color: #2e335e;
}

::-webkit-scrollbar-track {
  background-color: #0d0f1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: #0C0C0C;
}
body main .menu {
  background: #14141C;
  width: 380px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
}
body main .menu .container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 319px;
  height: 684px;
}
body main .menu .container-menu .login-usuario {
  display: flex;
  flex-direction: row;
  height: 55.62px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 40px 0px 54px 0px;
}
body main .menu .container-menu .login-usuario img {
  width: 55.17px;
  height: 55.62px;
  border-radius: 11.2155px;
}
body main .menu .container-menu .login-usuario .nometag-usuario {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .menu .container-menu .login-usuario .nometag-usuario h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19.0283px;
  line-height: 23px;
  color: #FFFFFF;
}
body main .menu .container-menu .login-usuario .nometag-usuario p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0342px;
  line-height: 13px;
  color: #CFCFCF;
}
body main .menu .container-menu .container-servidores {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background: #14141C;
  width: 319px;
  height: 875px;
}
body main .menu .container-menu .container-servidores h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 23px;
}
body main .menu .container-menu .container-servidores .scroll-servidor {
  overflow-y: scroll;
  height: 675px;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  background: none;
  border-radius: 11.2155px;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  text-decoration: none;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor img {
  width: 55.17px;
  height: 55.62px;
  border-radius: 10px;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #CFCFCF;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor .flex-2 {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body main .menu .container-menu .container-servidores .scroll-servidor .servidor:hover {
  background: #1F1F2C;
  transition-duration: 0.5s;
}
body main .menu form button {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.66px;
  line-height: 23px;
  color: #A20000;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}/*# sourceMappingURL=dashboard.css.map */