@import '../index/variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@include scroll;

* {
    @include ResetHtml;
}

body {
    background: #0C0C0C;
}

section {
    .menu {
        background-color: #14141C;
        width: 350px;
        height: 100vh;
        position: fixed;
        top: 0;
    }
}
