@import '../index/variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@include scroll;

* {
    @include ResetHtml;
}

body {
    background: #0C0C0C;
    font-family: "Montserrat", "Arial";
}

section {

    .menu {
        background-color: #14141C;
        width: 350px;
        height: 100vh;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .usuario {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        height: 55.62px;
        column-gap: 10px;

        img {
            width: 55.17px;
            height: 55.62px;
            border-radius: 11.2155px;
        }

        .nick-usuario {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h4 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 19.0283px;
                line-height: 23px;
                color: #FFFFFF;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 11.0342px;
                line-height: 13px;
                color: #CFCFCF;

            }
        }
    }

    .menus {
        color: white;
        font-size: 1.2rem;
        
        .titlemenu {
            margin-bottom: 40px;
        }
    }
    
    ul {
        li {
            margin-bottom: 40px;
            display: flex;
            color: white;
            gap: 1.5rem;
            align-items: center;
            text-align: center;
        }
    }
}

