@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px #222753;
  background-color: #2e335e;
}

::-webkit-scrollbar-track {
  background-color: #0d0f1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #0C0C0C;
  font-family: "Montserrat", "Arial";
}

.menulateral .menu {
  background-color: #14141C;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}
.menulateral .usuario {
  margin-top: 75px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  height: 55.62px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.menulateral .usuario img {
  width: 55.17px;
  height: 55.62px;
  border-radius: 11.2155px;
}
.menulateral .usuario .nick-usuario {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menulateral .usuario .nick-usuario h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19.0283px;
  line-height: 23px;
  color: #FFFFFF;
}
.menulateral .usuario .nick-usuario p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0342px;
  line-height: 13px;
  color: #CFCFCF;
}
.menulateral .menus {
  color: white;
  font-size: 1.2rem;
}
.menulateral .menus .titlemenu {
  margin-bottom: 40px;
}
.menulateral ul .selecionado {
  color: #8F8F8F;
}
.menulateral ul li {
  margin-bottom: 40px;
  display: flex;
  color: white;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.menulateral ul li:hover {
  cursor: pointer;
}
.menulateral .voltar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menulateral .voltar button {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.66px;
  line-height: 23px;
  color: #A20000;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}
.menulateral .voltar button:hover {
  color: #FF0000;
  transition-duration: 0.5s;
}
.menulateral .botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #666CFF;
  border-style: none;
  border-radius: 10px;
  width: 100%;
  height: 2.7rem;
}
.menulateral .botao:hover {
  cursor: pointer;
}

.conteudo {
  background: #14141C;
  position: fixed;
  top: 30px;
  left: 385px;
  width: calc(100% - 350px - 70px);
  height: calc(100vh - 35px - 30px);
  border-radius: 15px;
}
.conteudo .geral-conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo .geral-conteudo .boosts-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.conteudo .geral-conteudo .boosts-total .boosts-titulo {
  background: #08080C;
  width: calc(100% - 90px);
  height: 67px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Montserrat", "arial";
}
.conteudo .geral-conteudo .boosts-total .boosts {
  background: #0D0D13;
  color: white;
  width: calc(100% - 90px);
  height: 300px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo .geral-conteudo .boosts-total .boosts p {
  margin-top: 40px;
  font-family: "Montserrat", "arial";
  font-size: 100px;
  font-weight: 600;
}
.conteudo .geral-conteudo .boosts-total .boosts .grafico1 {
  width: calc(100% - 50px);
  height: calc(100% - 30px);
}
.conteudo .geral-conteudo .baixo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 90px);
}
.conteudo .geral-conteudo .baixo .contadordemembros {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 48%;
}
.conteudo .geral-conteudo .baixo .contadordemembros .contadordemembros-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #08080C;
  color: white;
  height: 60px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.conteudo .geral-conteudo .baixo .contadordemembros .contadordemembros-conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0d0d13;
  color: white;
  height: calc(100% - 100px);
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}
.conteudo .geral-conteudo .baixo .contadordemembros .contadordemembros-conteudo .contadordemembros-legenda ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.conteudo .geral-conteudo .baixo .contadordemembros .contadordemembros-conteudo .contadordemembros-legenda ul li {
  display: flex;
  gap: 10px;
}
.conteudo .geral-conteudo .baixo .contadordemembros .contadordemembros-grafics {
  width: 268px;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 48%;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #08080C;
  color: white;
  height: 60px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0D0D13;
  color: white;
  height: calc(100% - 100px);
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  row-gap: 30px;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-conteudo .movimentacaoservidor-legenda {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-conteudo .movimentacaoservidor-legenda ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-conteudo .movimentacaoservidor-legenda ul li {
  display: flex;
  gap: 10px;
}
.conteudo .geral-conteudo .baixo .movimentacaoservidor .movimentacaoservidor-grafics {
  width: calc(100% - 50px);
  height: calc(100% - 100px);
}/*# sourceMappingURL=servidor.css.map */