@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px #222753;
  background-color: #2e335e;
}

::-webkit-scrollbar-track {
  background-color: #0d0f1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-image: url(../../img/Background-comandos.svg);
}

nav {
  margin-top: 10px;
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
nav .pages {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
nav .pages a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
}
nav .pages a:hover {
  color: #b9b9b9;
  transition: 0.5s;
}
nav .pages #login {
  border-radius: 9.33207px;
  background: #424CAB;
  width: 161.65px;
  height: 52.33px;
  padding: 14.6647px 53.3261px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}
nav .pages #login:hover {
  font-size: 19.6641px;
  background: #3b4496;
  transition: 0.5s;
  cursor: pointer;
}

main section {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  -moz-column-gap: 122px;
       column-gap: 122px;
}
main section .funcoes {
  width: 730.33px;
  height: 342.67px;
  row-gap: 12px;
  display: flex;
  flex-direction: column;
}
main section .funcoes h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 61.1935px;
  line-height: 109.4%;
  color: #FFFFFF;
}
main section .funcoes p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21.2847px;
  line-height: 161.9%;
  color: #B5B5B5;
  width: 591.98px;
  height: 102px;
  margin-bottom: 23px;
}
main section .funcoes button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202.49px;
  height: 57.99px;
  background: #5865F2;
  border-radius: 66.5147px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.2847px;
  color: #FFFFFF;
}
main section .funcoes button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.atv {
  align-items: center;
  text-align: center;
  font-size: 13.8193px;
  color: #666CFF;
  background: #343661;
  border-radius: 21.32px;
  width: 69.3px;
}

.manu {
  align-items: center;
  text-align: center;
  font-size: 13.8193px;
  color: #FDB528;
  background: #604B22;
  border-radius: 21.32px;
  width: 161.26px;
}

.int {
  align-items: center;
  text-align: center;
  font-size: 13.8193px;
  color: #FF4D49;
  background: #612D2C;
  border-radius: 21.32px;
  width: 82.63px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container .tabelas {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.container .tabelas h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 51.9228px;
  line-height: 63px;
  margin-bottom: 52px;
  color: #FFFFFF;
}
.container .tabelas table {
  width: 1450px;
  height: 275.87px;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Montserrat";
  color: #ffffff;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
}
.container .tabelas table tr {
  height: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13.8193px;
  line-height: 28px;
  letter-spacing: 0.195773px;
}
.container .tabelas table tr th {
  padding-left: 25px;
}
.container .tabelas table tr td {
  height: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13.8193px;
  line-height: 28px;
  padding-left: 25px;
}

.cor1 {
  background-color: #180144;
}

.cor2 {
  background-color: #130038;
}

footer {
  background-color: #000118;
  width: 100%;
  height: 439.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer .suportes {
  display: flex;
  flex-direction: row;
  width: 1487.49px;
  justify-content: space-between;
  align-items: flex-start;
}
footer .suportes .produtos {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6581px;
  color: #ffffff;
}
footer .suportes .produtos a {
  margin-bottom: 13px;
  color: #ffffff;
}
footer .suportes .produtos a .title {
  color: #454EAA;
}
footer .suportes .produtos a:hover {
  color: #454EAA;
}
footer #linha-horizontal {
  width: 1572.62px;
  border: 1.07px solid #454EAA;
  margin: 50px;
}
footer .assinar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .assinar button {
  background: #5865F2;
  border-radius: 66.636px;
  width: 238.96px;
  height: 63.32px;
  display: flex;
  align-items: center;
}
footer .assinar button a {
  width: 1572.62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3235px;
  line-height: 26px;
  color: #FFFFFF;
}
footer .assinar button:hover {
  background: #454fc0;
  transition: 0.5s;
}/*# sourceMappingURL=comandos.css.map */