<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="./pagescss/comandos/comandos.css">
</head>

<body>
    <header>
        <nav>
            <div class="imgDizord"><img src="./img/logo.svg" alt="Logo pequena da Dizord"></div>
            <div class="pages">
                <a href="/">Sobre</a>
                <a href="/comandos">Comandos</a>
                <a href="/planos">Planos</a>
                <a href="#">Suporte</a>
                <button id="login"><a href="#">Login</a></button>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <img src="./img/Prompt-comandos.svg" alt="Prompt de comando com engrenagens">
            <div class="funcoes">
                <h3>Conheça todas as funções e comandos</h3>
                <p>Descubra tudo que a Dizord pode fazer, explore todos os comandos e funções que foram exclusivamente criadas para você!</p>
                <button><a href="#"><img src="./img/Engrenagem.svg" alt="Botão com engrenagem">Explorar</a></button>
            </div>
        </section>
        <div class="container">
            <div class="tabelas">
                <h3>Tabela de comandos básicos</h3>
                <table>
                     <thead class="cor1">
                         <tr>
                             <th>ID</th>
                             <th>COMANDO</th>
                             <th>FUNÇÃO</th>
                             <th>PERMISSÃO</th>
                             <th>PLANO</th>
                             <th>STATUS</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr class="cor2" >
                             <td>01</td>
                             <td>/ban &lt;@user&gt; (motivo)</td>
                             <td>Banir usuário</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="atv">Ativo</p></td>
                         </tr>
                         <tr class="cor1">
                             <td>02</td>
                             <td>/kick &lt;@user&gt; (motivo)</td>
                             <td>Expulsar usuário do servidor</td>
                             <td>Admin</td>
                             <td>FiveM</td>
                             <td><p class="manu">Em manutenção</p></td>
                         </tr>
                         <tr class="cor2" >
                             <td>03</td>
                             <td>/mute &lt;@user&gt; (motivo)</td>
                             <td>Mutar usuário</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="int">Inativo</p></td>
                         </tr>
                         <tr class="cor1" >
                             <td>04</td>
                             <td>/tempmute &lt;@user&gt; (motivo)</td>
                             <td>Mutar membro temporariamente no servidor</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="atv">Ativo</p></td>
                         </tr>
                         <tr class="cor2" >
                             <td>05</td>
                             <td>/tempban &lt;@user&gt; (motivo)</td>
                             <td>Banir membro temporariamente</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="atv">Ativo</p></td>
                         </tr>
                         <tr class="cor1" >
                             <td>06</td>
                             <td>/unmute &lt;@user&gt;</td>
                             <td>Desmutar um membro no servidor</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="atv">Ativo</p></td>
                         </tr>
                     </tbody>
                 </table>
             </div>
        </div>
    </main>
    <footer>
        <div class="suportes">
            <img src="./img/Dizord-footer.svg" alt="">
            <div class="produtos">
                <a href="#"><span class="title">Produtos</span></a>
                <a href="#">Assinar</a>
                <a href="#">Status do Bot</a>
                <a href="#">Sobre a Dizord</a>
            </div>
            <div class="produtos">
                <a href="#"><span class="title">Recursos</span></a>
                <a href="#">Suporte</a>
                <a href="#">Segurança</a>
                <a href="#">Comentários</a>
            </div>
            <div class="produtos">
                <a href="#"><span class="title">Política</span></a>
                <a href="#">Termos</a>
                <a href="#">Segurança</a>
                <a href="#">Autenticação</a>
            </div>
        </div>
        <div id="linha-horizontal"></div>
        <div class="assinar">
            <img src="./img/Discord-footer.svg" alt="">
            <button><a href="#">Assinar agora!</a></button>
        </div>
    </footer>
</body>

</html>