<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="./pagescss/comandos/comandos.css">
</head>

<body>
    <header>
        <nav>
            <div class="imgDizord"><img src="./img/logo.svg" alt="Logo pequena da Dizord"></div>
            <div class="pages">
                <a href="/">Sobre</a>
                <a href="#">Comandos</a>
                <a href="#">Planos</a>
                <a href="#">Suporte</a>
                <button id="login"><a href="#">Login</a></button>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <img src="./img/Prompt-comandos.svg" alt="Prompt de comando com engrenagens">
            <div class="funcoes">
                <h3>Conheça todas as funções e comandos</h3>
                <p>Descubra tudo que a Dizord pode fazer, explore todos os comandos e funções que foram exclusivamente criadas para você!</p>
                <button><a href="#"><img src="./img/Engrenagem.svg" alt="Botão com engrenagem">Explorar</a></button>
            </div>
        </section>
        <div class="container">
            <div class="tabelas">
                <h3>Tabela de comandos básicos</h3>
                <table>
                     <thead class="cor1">
                         <tr>
                             <th>ID</th>
                             <th>COMANDO</th>
                             <th>FUNÇÃO</th>
                             <th>PERMISSÃO</th>
                             <th>PLANO</th>
                             <th>STATUS</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr class="cor2" >
                             <td>01</td>
                             <td>/Ban &lt;usuário&gt; (motivo)</td>
                             <td>Banir usuário</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="atv">Ativo</p></td>
                         </tr>
                         <tr class="cor1">
                             <td>02</td>
                             <td>/Expulsar &lt;usuário&gt; (motivo)</td>
                             <td>Expulsar usuário</td>
                             <td>Admin</td>
                             <td>FiveM</td>
                             <td><p class="manu">Em manutenção</p></td>
                         </tr>
                         <tr class="cor2" >
                             <td>03</td>
                             <td>/Mute &lt;usuário&gt; (motivo)</td>
                             <td>Mutar usuário</td>
                             <td>Admin</td>
                             <td>Geral</td>
                             <td><p class="int">Inativo</p></td>
                         </tr>
                     </tbody>
                 </table>
             </div>
        </div>
    </main>
</body>

</html>