<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Dashboard </title>
    <link rel="stylesheet" href="./pagescss/dashboard/dashboard.css">
</head>

<body>
    <main>
        <div class="menu">
            <div class="container-menu">
                <div class="login-usuario">
                    <img src=""> <!-- imagem do usuario -->
                    <div class="nometag-usuario">
                        <h4>
                            <%= username %>
                        </h4>
                        <p>tag do usuario</p>
                    </div>
                </div>


                <div class="tudao">
                    <p>Servidores 2</p>
                    <a href="#">
                        <div class="container-2">
                            <img src="">
                            <div class="flex-2">
                                <p>NOME SERVIDOR</p>
                                <p>Cargo</p>
                            </div>
                    </a>
                </div>
            </div>


            <form action="/auth/logout">
                <button type="submit"><img src="">
                    <p>sair</p>
                </button>
            </form>
        </div>
        </div>
        </div>
    </main>
</body>

</html>