<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | O futuro do discord</title>
    <meta name="description"
        content="Seja bem vindo a DIZORD, aqui garantimos a segurança, diversão dos seus membros com um bot totalmente customizavel e 100% seguro">
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="./pagescss/index/style.css">
</head>

<body onselectstart="return false">
    
    <header>
        <nav>
            <div class="imgDizord"><img src="./img/logo.svg" alt="Logo pequena da Dizord"></div>
            <div class="pages">
                <a href="#">Sobre</a>
                <a href="/comandos">Comandos</a>
                <a href="/planos">Planos</a>
                <a href="#">Suporte</a>
                <button id="login"><a href="#">Login</a></button>
            </div>
        </nav>
    </header>
    <main>
        <section class="principal">
            <div class="sessao-principal">
                <div class="just">
                    <img src="./img/Dizord.svg" alt="Imagem da Dizord" class="dizord">
                    <h3>O futuro do Discord está aqui.</h3>
                </div>
                <img class="sessao-principal-imagem" src="./img/setas.svg" alt="Icone para descer a pagina">
            </div>
        </section>
        <section class="sessao2">
            <div class="container">
                <img src="./img/fique-seguro.svg" alt="">
                <div class="texto">
                    <h3>Crie um espaço controlado onde você se sinta em casa</h3>
                    <p>Gerencie seu servidor com facilidade, agilidade e segurança. Com Dizord, você não precisa se preocupar com o que acontece dentro de seu servidor - Dizord sempre agirá com segurança em quanto você se diverte!</p>
                </div>
            </div>
        </section>
        <section class="sessao3">
            <div class="container2">
                <div class="texto2">
                    <h3>Gerencie seu servidor de maneira simples !</h3>
                    <p>Agora você pode ter um bot para gerenciar seu servidor. A <span>DIZORD</span> permitirá que você jogue sem se preocupar com seu servidor</p>
                </div>
                <img class="gerencie" src="./img/gerenciamento.svg" alt="">
            </div>
        </section>
        <section class="sessao4">
            <div class="container3">
                <h3>Com ele você pode:</h3>
                <div class="function">
                    <div class="segura">
                        <div class="function1">
                            <h4>Jogar tranquilo</h4>
                            <p>Sempre aparece algum problema  quando estamos jogando, que tal não precisar perder tempo com isso?</p>
                        </div>
                        <div class="function2">
                            <h4>Gerenciar facilmente</h4>
                            <p>Sabemos o quanto é difícil gerenciar um servidor, por isso facilitamos e com a <span class="negrito">Dizord</span> você não precisa se preocupar, com poucos clicks você consegue fazer diversas coisas!</p>
                        </div>
                    </div>
                    <div class="segura">
                        <div class="function3">
                            <h4>Recursos <span class="gratis">grátis</span> e <span class="premium">premium</span></h4>
                            <p>A melhor parte da <span class="negrito">Dizord</span> é que você pode escolher quanto ou quão pouco quer gastar. Você pode escolher entre uma versão gratuita e uma versão premium, ambas igualmente úteis.</p>
                        </div>
                        <div class="function4">
                            <h4>Prevenção contra hackers</h4>
                            <p>A Dizord tem um dos melhores sistemas de segurança para seu servidor, protegendo todos os canais, categorias e conteudos de forma com que qualquer invasor nao consiga ter sucesso!</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./img/personagem.svg" alt="">
        </section>
    </main>
    <footer>
        <div class="suportes">
            <img src="./img/Dizord-footer.svg" alt="">
            <div class="produtos">
                <a href="#"><span class="title">Produtos</span></a>
                <a href="#">Assinar</a>
                <a href="#">Status do Bot</a>
                <a href="#">Sobre a Dizord</a>
            </div>
            <div class="produtos">
                <a href="#"><span class="title">Recursos</span></a>
                <a href="#">Suporte</a>
                <a href="#">Segurança</a>
                <a href="#">Comentários</a>
            </div>
            <div class="produtos">
                <a href="#"><span class="title">Política</span></a>
                <a href="#">Termos</a>
                <a href="#">Segurança</a>
                <a href="#">Autenticação</a>
            </div>
        </div>
        <div id="linha-horizontal"></div>
        <div class="assinar">
            <img src="./img/Discord-footer.svg" alt="">
            <button><a href="#">Assinar agora!</a></button>
        </div>
    </footer>
</body>

</html>