<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Planos</title>
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="../pagescss/planos/planos.css">
</head>

<body>
    <header>
        <nav>
            <div class="imgDizord"><img src="./img/logo.svg" alt="Logo pequena da Dizord"></div>
            <div class="pages">
                <a href="#">Sobre</a>
                <a href="/comandos">Comandos</a>
                <a href="/planos">Planos</a>
                <a href="#">Suporte</a>
                <button id="login"><a href="#">Login</a></button>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="imagem">
                <div class="jogos">
                    <img src="./img/imageFortnite.svg" alt="">
                    <img src="./img/imageFreeFire.svg" alt="">
                </div>
                <div class="jogos">
                    <img src="./img/imageGTA.svg" alt="">
                    <img src="./img/imageMinecraft.svg" alt="">
                </div>
            </div>
        </section>
        <div>
            <h3>Os melhores planos para você</h3>
            <p>Aqui você encontra o melhor plano, com um ótimo custo para o seu server, sendo ele de GTA RP, Minecraft,
                Família ou até mesmo particular.</p>
            <button><a href="#">Planos</a></button>
        </div>
    </main>
</body>

</html>