<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Planos</title>
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="../../public/pagescss/planos/planos.scss">
</head>
<body>
    <header>
        <nav>
            <div class="imgDizord"><img src="./img/logo.svg" alt="Logo pequena da Dizord"></div>
            <div class="pages">
                <a href="#">Sobre</a>
                <a href="/comandos">Comandos</a>
                <a href="/planos">Planos</a>
                <a href="#">Suporte</a>
                <button id="login"><a href="#">Login</a></button>
            </div>
        </nav>
    </header>
    <h1>oi</h1>
</body>
</html>