<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Preços</title>
    <meta name="description"
        content="Seja bem vindo a DIZORD, aqui garantimos a segurança, diversão dos seus membros com um bot totalmente customizavel e 100% seguro">
    <link rel="icon" href="./img/logo.svg">
    <link rel="stylesheet" href="">
</head>
<body>
    
</body>
</html>