@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px #222753;
  background-color: #2e335e;
}

::-webkit-scrollbar-track {
  background-color: #0d0f1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-image: url(../../img/Background-planos.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin-top: 10px;
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
nav .pages {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
nav .pages a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
}
nav .pages a:hover {
  color: #b9b9b9;
  transition: 0.5s;
}
nav .pages #login {
  border-radius: 9.33207px;
  background: #424CAB;
  width: 161.65px;
  height: 52.33px;
  padding: 14.6647px 53.3261px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}
nav .pages #login:hover {
  font-size: 19.6641px;
  background: #3b4496;
  transition: 0.5s;
  cursor: pointer;
}

.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 182px;
       column-gap: 182px;
}
.principal .image {
  width: 665.22px;
  height: 642.22px;
}
.principal .image .jogos {
  display: flex;
  flex-direction: row;
}
.principal .texto {
  width: 563.74px;
  height: 352.19px;
}
.principal .texto h3 {
  width: 507.77px;
  height: 126px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 51.9291px;
  line-height: 63px;
  color: #CCD2E3;
  margin-bottom: 23px;
}
.principal .texto p {
  width: 563.74px;
  height: 105px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21.3235px;
  line-height: 161.9%;
  color: #CCD2E3;
  margin-bottom: 36px;
}
.principal .texto button {
  background: #424CAB;
  border-radius: 42.6471px;
  width: 172.31px;
  height: 61.65px;
  border: none;
}
.principal .texto button a {
  width: 119px;
  height: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3235px;
  line-height: 161.9%;
  color: #CCD2E3;
  text-decoration: none;
}

.planos {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.planos .nossos-planos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planos .nossos-planos h3 {
  width: 386px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50.6434px;
  line-height: 123.5%;
  text-align: center;
  letter-spacing: 0.33318px;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.planos .nossos-planos p {
  width: 922.24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21.3235px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.199908px;
  color: #EBE7FF;
  margin-bottom: 13px;
}
.planos .types-planos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
}
.planos .types-planos p {
  width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6581px;
  line-height: 157%;
  text-align: center;
  letter-spacing: 0.133272px;
  color: #EBE7FF;
}
.planos .cards {
  width: 1020.98px;
  height: 713.01px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: center;
  align-items: center;
}
.planos .cards .card-gratis {
  width: 295.52px;
  height: 656.1px;
  background: #141732;
  border: 1.10269px solid rgba(234, 234, 255, 0.1215686275);
  border-radius: 11.0269px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
  column-gap: 50px;
  align-content: center;
  justify-content: center;
}
.planos .cards .card-gratis .container-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.planos .cards .card-gratis .container-card1 .img-card {
  width: 110.27px;
  height: 110.27px;
  margin-bottom: 22px;
  margin-top: 66px;
}
.planos .cards .card-gratis .container-card1 h4 {
  width: 242.59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26.4645px;
  line-height: 133.4%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6px;
}
.planos .cards .card-gratis .container-card1 p {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4376px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  margin-bottom: 22px;
}
.planos .cards .card-gratis .container-card1 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 52.929px;
  line-height: 62px;
  text-align: center;
  color: #666CFF;
  margin-bottom: 22px;
}
.planos .cards .card-gratis .container-card1 .beneficios {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.planos .cards .card-gratis .container-card1 .beneficios .btn-gratis {
  background: none;
  width: 242.59px;
  height: 42.44px;
  border: 1.1px solid rgba(114, 225, 40, 0.5019607843);
  border-radius: 8.8215px;
  margin-top: 114px;
}
.planos .cards .card-gratis .container-card1 .beneficios .btn-gratis a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4376px;
  line-height: 26px;
  letter-spacing: 0.441075px;
  text-transform: uppercase;
  color: #72E128;
}
.planos .cards .card-gratis .container-card1 .beneficios .btn-gratis:hover {
  background: rgba(33, 65, 12, 0.5019607843);
  transition: 0.3s;
}
.planos .cards .card-gratis .container-card1 .beneficios h5 {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14.3349px;
  line-height: 143%;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
.planos .cards .card-gratis .container-card1 .beneficios h5 img {
  width: 15.44px;
  height: 15.44px;
}
.planos .cards .card-premium {
  width: 295.52px;
  height: 713.01px;
  background: #141732;
  border: 1.19833px solid #666CFF;
  border-radius: 11.9833px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
  column-gap: 50px;
  align-content: center;
  justify-content: center;
}
.planos .cards .card-premium .container-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.planos .cards .card-premium .container-card1 .preco {
  display: flex;
  flex-direction: row;
}
.planos .cards .card-premium .container-card1 .preco h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.7766px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.179749px;
  color: rgba(235, 231, 255, 0.768627451);
  margin-top: 8px;
}
.planos .cards .card-premium .container-card1 .img-card {
  width: 110.27px;
  height: 110.27px;
  margin-bottom: 22px;
  margin-top: 66px;
}
.planos .cards .card-premium .container-card1 h4 {
  width: 242.59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26.4645px;
  line-height: 133.4%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6px;
}
.planos .cards .card-premium .container-card1 p {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4376px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  margin-bottom: 22px;
}
.planos .cards .card-premium .container-card1 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 52.929px;
  line-height: 62px;
  text-align: center;
  color: #666CFF;
  margin-bottom: 22px;
}
.planos .cards .card-premium .container-card1 h3 .mensal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.7766px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.179749px;
  color: rgba(235, 231, 255, 0.768627451);
}
.planos .cards .card-premium .container-card1 .beneficios {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.planos .cards .card-premium .container-card1 .beneficios .btn-premium {
  width: 242.59px;
  height: 42.44px;
  background: #666CFF;
  border-radius: 8px;
  border: none;
  margin-top: 66px;
}
.planos .cards .card-premium .container-card1 .beneficios .btn-premium a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4376px;
  line-height: 26px;
  letter-spacing: 0.441075px;
  text-transform: uppercase;
  color: #ffffff;
}
.planos .cards .card-premium .container-card1 .beneficios .btn-premium:hover {
  color: #ffffff;
  background: #343791;
  transition: 0.3s;
}
.planos .cards .card-premium .container-card1 h5 {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14.3349px;
  line-height: 143%;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
.planos .cards .card-premium .container-card1 h5 img {
  width: 15.44px;
  height: 15.44px;
}
.planos .card-fivem {
  width: 295.52px;
  height: 656.1px;
  background: #141732;
  border: 1.10269px solid rgba(234, 234, 255, 0.1215686275);
  border-radius: 11.0269px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
  column-gap: 50px;
  align-content: center;
  justify-content: center;
}
.planos .card-fivem .container-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.planos .card-fivem .container-card1 .preco {
  display: flex;
  flex-direction: row;
}
.planos .card-fivem .container-card1 .preco h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.7766px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.179749px;
  color: rgba(235, 231, 255, 0.768627451);
  margin-top: 8px;
}
.planos .card-fivem .container-card1 .img-card {
  width: 110.27px;
  height: 110.27px;
  margin-bottom: 22px;
  margin-top: 66px;
}
.planos .card-fivem .container-card1 h4 {
  width: 242.59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26.4645px;
  line-height: 133.4%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6px;
}
.planos .card-fivem .container-card1 p {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4376px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  margin-bottom: 22px;
}
.planos .card-fivem .container-card1 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 52.929px;
  line-height: 62px;
  text-align: center;
  color: #666CFF;
  margin-bottom: 22px;
}
.planos .card-fivem .container-card1 h3 .mensal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.7766px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.179749px;
  color: rgba(235, 231, 255, 0.768627451);
}
.planos .card-fivem .container-card1 .beneficios {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.planos .card-fivem .container-card1 .beneficios .btn-gaming {
  background: none;
  width: 242.59px;
  height: 42.44px;
  border: 1.10269px solid rgba(102, 108, 255, 0.5019607843);
  border-radius: 8.8215px;
}
.planos .card-fivem .container-card1 .beneficios .btn-gaming a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4376px;
  line-height: 26px;
  letter-spacing: 0.441075px;
  text-transform: uppercase;
  color: #666CFF;
}
.planos .card-fivem .container-card1 .beneficios h5 {
  width: 242.59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14.3349px;
  line-height: 143%;
  letter-spacing: 0.165403px;
  color: rgba(235, 231, 255, 0.768627451);
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
.planos .card-fivem .container-card1 .beneficios h5 img {
  width: 15.44px;
  height: 15.44px;
}

footer {
  background-color: #000118;
  width: 100%;
  height: 439.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer .suportes {
  display: flex;
  flex-direction: row;
  width: 1487.49px;
  justify-content: space-between;
  align-items: flex-start;
}
footer .suportes .produtos {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6581px;
  color: #ffffff;
}
footer .suportes .produtos a {
  margin-bottom: 13px;
  color: #ffffff;
}
footer .suportes .produtos a .title {
  color: #454EAA;
}
footer .suportes .produtos a:hover {
  color: #454EAA;
}
footer #linha-horizontal {
  width: 1572.62px;
  border: 1.07px solid #454EAA;
  margin: 50px;
}
footer .assinar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .assinar button {
  background: #5865F2;
  border-radius: 66.636px;
  width: 238.96px;
  height: 63.32px;
  display: flex;
  align-items: center;
}
footer .assinar button a {
  width: 1572.62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3235px;
  line-height: 26px;
  color: #FFFFFF;
}
footer .assinar button:hover {
  background: #454fc0;
  transition: 0.5s;
}/*# sourceMappingURL=planos.css.map */