@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px #222753;
  background-color: #2e335e;
}

::-webkit-scrollbar-track {
  background-color: #0d0f1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-image: url(../../img/Background-planos.svg);
  background-repeat: no-repeat;
}

nav {
  margin-top: 10px;
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
nav .pages {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
nav .pages a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
}
nav .pages #login {
  border-radius: 9.33207px;
  background: #424CAB;
  width: 161.65px;
  height: 52.33px;
  padding: 14.6647px 53.3261px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6641px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}

.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 182px;
       column-gap: 182px;
}
.principal .image {
  width: 665.22px;
  height: 642.22px;
}
.principal .image .jogos {
  display: flex;
  flex-direction: row;
}
.principal .texto {
  width: 563.74px;
  height: 352.19px;
}
.principal .texto h3 {
  width: 507.77px;
  height: 126px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 51.9291px;
  line-height: 63px;
  color: #CCD2E3;
  margin-bottom: 23px;
}
.principal .texto p {
  width: 563.74px;
  height: 105px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21.3235px;
  line-height: 161.9%;
  color: #CCD2E3;
  margin-bottom: 36px;
}
.principal .texto button {
  background: #424CAB;
  border-radius: 42.6471px;
  width: 172.31px;
  height: 61.65px;
  border: none;
}
.principal .texto button a {
  width: 119px;
  height: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3235px;
  line-height: 161.9%;
  color: #CCD2E3;
  text-decoration: none;
}

footer {
  background-color: #000118;
  width: 100%;
  height: 439.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer .suportes {
  display: flex;
  flex-direction: row;
  width: 1487.49px;
  justify-content: space-between;
  align-items: flex-start;
}
footer .suportes .produtos {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6581px;
  color: #ffffff;
}
footer .suportes .produtos a {
  margin-bottom: 13px;
  color: #ffffff;
}
footer .suportes .produtos a .title {
  color: #454EAA;
}
footer #linha-horizontal {
  width: 1572.62px;
  border: 1.07px solid #454EAA;
  margin: 50px;
}
footer .assinar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .assinar button {
  background: #5865F2;
  border-radius: 66.636px;
  width: 238.96px;
  height: 63.32px;
  display: flex;
  align-items: center;
}
footer .assinar button a {
  width: 1572.62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3235px;
  line-height: 26px;
  color: #FFFFFF;
}/*# sourceMappingURL=planos.css.map */